.FAQ {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 70px);
  transition: var(--trans);
  background: var(--yellow);
  color: var(--blue);
  font-family: "inherit";
}

.Questions {
  padding: 20px 10%;
  background: var(--yellow);
}
.Questions > p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: var(--blue);
  font-weight: bold;
}

.Questions .faqContainer {
  width: 100%;
  height: 100%;
}

.Questions .faqContainer .questions {
  margin-bottom: 50px;
  height: 70px;
  transition: all var(--trans);
  overflow: hidden;
  padding: 20px 0;
}

.Questions .faqContainer .questions.vissible {
  height: 310px;
}

.Questions .faqContainer .questions.vissible1 {
  height: 250px;
}
.Questions .faqContainer .questions.vissible2 {
  height: 150px;
}

.Questions .faqContainer .questions p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.1em solid var(--blue);
  padding-bottom: 2px;
  color: var(--blue);
  font-size: 1.2em;
  transition: all var(--trans);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.Questions .faqContainer .questions p .plus {
  font-size: 30px;
  transition: all var(--trans);
}
.Questions .faqContainer .questions p .plus.rotate {
  transform: rotate(45deg);
}

.Questions .faqContainer .questions .answer {
  opacity: 0;
  visibility: 0;
}

.Questions .faqContainer .questions.vissible .answer {
  opacity: 1;
  visibility: visible;
  transition: var(--trans);
}
.Questions .faqContainer .questions.vissible1 .answer {
  opacity: 1;
  visibility: visible;
  transition: var(--trans);
}
.Questions .faqContainer .questions.vissible2 .answer {
  opacity: 1;
  visibility: visible;
  transition: var(--trans);
}

@media (max-width: 850px) {
  .FAQ {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 70px);
    transition: var(--trans);
    background: var(--yellow);
    font-family: "inherit";
  }
  .Questions .faqContainer .questions {
    margin-bottom: 50px;
    height: 70px;
    transition: all var(--trans);
    overflow: initial;
    padding: 20px 0;
  }

  .Questions .faqContainer .questions.vissible {
    height: 1010px;
  }

  .Questions .faqContainer .questions.vissible1 {
    height: 800px;
  }
  .Questions .faqContainer .questions.vissible2 {
    height: 300px;
  }

  .Questions .faqContainer .questions p {
    font-size: 1em;
  }
}
