.Sidebar {
  display: flex;
  width: 20%;
  background: var(--grey);
  height: calc(100vh - 70px);
  position: fixed;
  transition: var(--trans);
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;

  .Sidebar__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 10px;
    transition: var(--trans);
    padding-left: 5px;
    width: 100%;
    padding-right: 10px;

    .activeLink {
      display: flex;
      align-items: center;
      position: relative;
      width: 100px;
      cursor: pointer;
      width: 100%;
      height: 40px;
      margin: 2px 0;

      &.on {
        transition: var(--trans);
        &::before {
          content: "";
          position: absolute;
          transition: var(--trans);
          left: 0;
          background: var(--blue);
          height: 100%;
          width: 4px;
          border-radius: 5px;
          top: 0;
        }

        a {
          background: var(--light__blue);
          color: var(--white);
        }
      }
      transition: var(--trans);
      &:nth-child(1) {
        margin-top: 0;
      }
      a {
        transition: var(--trans);
        width: 100%;
        margin-left: 5px;
        margin-top: 1px;
        padding: 5px;
        background: rgb(196, 193, 193);
        border-radius: 5px;
        height: 100%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        span {
          transition: var(--trans);
        }
      }
      &:hover {
        // transition: var(--trans);
        color: var(--white);
        a {
          background: var(--light__blue);
          color: var(--white);
          span {
            transition: var(--trans);
            padding: 5px;
          }
        }
      }
    }
  }

  .sidebar_down {
    .themes {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 10px;
      justify-content: flex-start;
      margin-bottom: 20px;

      .theme {
        width: 15px;
        height: 15px;
        background: red;
        transition: var(--trans);
        margin: 5px;
        cursor: pointer;
        border-radius: 2px;

        &.lighttheme {
          background: white;
          margin-left: 0;
        }

        &.darktheme {
          background: black;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      transition: var(--trans);
      padding-left: 10px;
      text-transform: capitalize;
      font-size: 10px;

      img {
        width: 40px;
        margin-right: 5px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        cursor: pointer;
      }
    }
  }

  .resposiveBile {
    display: none;
  }

  @media screen and (max-width: 800px) {
    display: none;
    .Sidebar__ul {
      display: none;
    }
    .sidebar_down {
      display: none;
    }
    .resposiveBile {
      display: flex;
      width: 100%;
      background: orange;

      .responsive__menu {
        height: 50px;
        width: 50px;
        background: blue;

        span {
          height: 3px;
          width: 40px;
          background: red;
        }
      }
    }
  }
}
