.postBlog {
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 50px;
  transition: var(--trans);
  // background: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .postBlogContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: var(--light__blue);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    padding: 20px;
    border-radius: 5px;
    transition: var(--trans);

    @media (max-width: 800px) {
      width: 100%;
    }

    .topContainer {
      display: flex;
      align-items: center;
      color: var(--white);
      margin-bottom: 20px;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .postContainer {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        display: flex;
        height: 40px;
        outline: none;
        font-size: 16px;
        padding: 10px;
        color: white;
        margin-bottom: 3px;
        background: transparent;
        border: 0.1rem solid gray;
        &:focus {
          border: var(--border);
        }

        &::placeholder {
          color: var(--white);
        }
      }
      textarea {
        display: flex;
        height: 120px;
        outline: none;
        padding: 10px;
        margin-bottom: 3px;
        resize: none;
        color: white;
        background: transparent;

        &:focus {
          border: var(--border);
        }
        &::placeholder {
          color: var(--white);
        }
      }

      label {
        display: flex;
        align-items: center;
        margin: 10px 0;
        cursor: pointer;
        color: var(--white);
        .shareIcon {
          margin-right: 5px;
        }
      }

      button {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        margin-top: 3px;
        background: var(--blue);
        color: var(--white);
        cursor: pointer;
      }

      .shareImgContainer {
        position: relative;

        .shareImg {
          width: 100%;
          object-fit: cover;
        }

        .shareCancelImg {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;

          opacity: 1;
          color: red;
        }
      }
    }
  }
}
