.nav {
  width: 100%;
  height: 70px;
  background: var(--light__blue);
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  color: rgb(219, 219, 219);
  transition: var(--trans);
  font-family: "Roboto";
}

.nav.addedColor {
  background: var(--blue);
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.7);
}

.navLeft img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.CenterLinks,
.rightItems {
  display: flex;
  list-style: none;
}

.applyBtn {
  background: var(--yellow);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 6px 40px;
  color: var(--blue);
  font-weight: bold;
  border-radius: 5px;
  transition: var(--trans);
  width: 180px;
}

.applyBtn:hover {
  border-radius: 20px;
}

.centerLinkItems {
  margin: 0 5px;
  padding: 5px 20px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease;
  position: relative;

  &:nth-child(2) {
    &:hover {
      .aboutDrop {
        opacity: 1;
        transform: scale(1);
      }
    }

    .aboutDrop {
      position: absolute;
      background: var(--white);
      list-style: none;
      padding: 10px;
      width: 200px;
      top: 40px;
      transition: var(--trans);
      margin-top: 10px;
      transform: scale(0, 1);

      opacity: 0;

      li {
        color: var(--blue);
        font-size: 12px;
        margin: 2px;
        transition: var(--trans);
        padding: 5px 10px;

        a {
          display: flex;
          width: 100%;
        }

        &:hover {
          background: var(--light__blue);
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.centerLinkItems::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--white);
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}
.centerLinkItems:hover::after {
  width: 100%;
}

.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}

.userProfile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
}

@media (max-width: 850px) {
  .CenterLinks {
    display: none;
  }
  .CenterLinksm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    background: white;
    height: 150px;
    list-style: none;
  }

  .navRight {
    display: none;
  }

  .menu {
    position: relative;
    overflow: hidden;
    display: block;
  }

  .menu .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: all var(--trans);
  }

  .menu .hamburger span {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--white);
    position: absolute;
    transition: all var(--trans);
  }

  .menu .hamburger .open:nth-child(1) {
    transform: translateY(-8px);
    width: 20px;
    left: 4px;
  }
  .menu .hamburger .open:nth-child(2) {
    transform: translateY(8px);
    width: 14px;
    left: 4px;
  }

  .menu .hamburger .close:nth-child(1) {
    transform: rotate(45deg);
  }
  .menu .hamburger .close:nth-child(2) {
    right: -30px;
    transition: all var(--trans);
  }
  .menu .hamburger .close:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menuRoutes {
    position: fixed;
    background: var(--light__blue);
    width: 60vw;
    height: calc(100vh - 70px);
    top: 70px;
    transition: all var(--trans);
    color: var(--text-color);
  }

  .menuRoutes.addedColor {
    background: var(--blue);
    box-shadow: 0 0px 10px rgb(0, 0, 0, 0.7);
  }
  .menuRoutes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    transition: all var(--trans);
    position: relative;
  }

  .menuRoutes ul .applyBtn {
    background: var(--yellow);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 6px 40px;
    color: var(--blue);
    font-weight: bold;
    border-radius: 5px;
    transition: var(--trans);
    position: absolute;
    bottom: 20px;
  }
  .menuRoutes ul .applyBtn:hover {
    border-radius: 20px;
  }

  .menuRoutes ul li {
    cursor: pointer;
    border-radius: 20px;
    transition: all var(--trans);
    text-transform: capitalize;
    margin: 1rem 0;
    width: 100%;
    a {
      width: 100%;
      display: flex;
    }
  }
}
